:root {
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
}

.container {
  position: relative;
  width: 1200px;

  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
  font-style: none;
  font-size: unset;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding: 40px 20px 40px 20px;

  color: var(--primary-text-color);
  background: var(--primary-bg-color);

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  font-style: normal;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
